.detail-country__back-btn {
  outline: 0;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.05);
  padding: 0.6em 2.5em;
  background: 0;
  font-weight: 600;
  display: flex;
  color: var(--primary-text);
  fill: var(--primary-text);
  cursor: pointer;
  gap: 1rem;
}

.detail-country {
  margin: 4rem auto 0 auto;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 380px), 1fr));
  gap: 2rem 6rem;
  color: var(--primary-text);
  max-width: 1200px;
}

.detail-country__name {
  margin: 0;
  font-weight: 800;
  color: var(--primary-text);
  margin-bottom: 2rem;
}

.detail-country__lists {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem 2rem;
  justify-content: space-between;
}

.detail-country__info {
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: 300;
  width: auto;
}

.detail-country__info li {
  margin: 1rem 0;
}

.detail-country__info strong {
  font-weight: 600;
}

.border-countries {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.border-countries__text {
  font-size: 1.2rem;
  font-weight: 600;
  flex-shrink: 0;
}

.border-countries__list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.6rem;
}

.detail-country__img {
  width: 100%;
}

.border-countries__item {
  padding: 0.5em 1em;
  border-radius: 3px;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.05);
}

.dark .detail-country__back-btn {
  background: var(--dark-elements);
  box-shadow: 0 0 0 3px hsla(208, 27%, 14%, 0.2);
}

.dark .border-countries__item {
  background: var(--dark-elements);
  box-shadow: 0 0 0 3px hsla(208, 27%, 14%, 0.2);
}

