.search-form__input-container {
  position: relative;
}

.search-form__input {
  border: 0;
  outline: 0;
  box-shadow: 0 5px 1px -2px rgba(0, 0, 0, 0.05);
  padding: 1.2em 2em;
  padding-left: 4em;
  width: 100%;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  border-radius: 4px;
  color: var(--primary-text);
}

.search-form__input::placeholder {
  color: var(--placeholder-text);
}

.search-form__input-container svg {
  fill: var(--primary-text);
  position: absolute;
  top: 18px;
  left: 1.5em;
}

.countries-list {
  margin-top: 3em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 270px));
  gap: 3em;
  padding: 0 2.4em;
  justify-content: center;
}

.select {
  margin-top: 1.5rem;
}

.dark .search-form__input {
  background: var(--dark-elements);
  box-shadow: 0 0 0 3px hsla(208, 27%, 14%, 0.2);
}

@media screen and (min-width: 720px) {
  .countries-list {
    padding: 0;
  }

  .search-form {
    display: flex;
    justify-content: space-between;
  }

  .search-form__input-container {
    width: 35%;
  }

  .select {
    margin: 0;
    width: 20%;
    min-width: 180px;
  }
}

.loader {
  margin: 4rem auto 0 auto;
}