:root {
  --dark-elements: hsl(209, 23%, 22%);
  --placeholder-text: hsl(0, 0%, 52%);
  --background: hsl(0, 0%, 98%);
  --primary-text: hsl(200, 15%, 8%);
  --white: hsl(0, 0%, 100%); 
}

* {
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  background-color: var(--background);
}

body.dark {
  --background: hsl(207, 26%, 17%);
  --placeholder-text: hsl(0, 0%, 75%); 
  --primary-text: var(--white);
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: var(--primary-text);
}